## Importing data from csv files, analyzing it and sending it to a database

In [1]:
import pandas as pd
import numpy as np

In [2]:
database = pd.read_csv("Data/globalsuperstore.csv")

## database

In [3]:
database.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2/5/2013,2/7/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11/5/2013,11/6/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [4]:
database.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [5]:
database_null = pd.isnull(database)
database_null

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51286,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51287,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51288,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51289,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
# Display just the headers
for col in database.columns:
    print(col)
    
    # two additional options to show just the headers
    # list(database.columns)
    # list(database.columns.values.tolist())

Row ID
Order ID
Order Date
Ship Date
Ship Mode
Customer ID
Customer Name
Segment
City
State
Country
Postal Code
Market
Region
Product ID
Category
Sub-Category
Product Name
Sales
Quantity
Discount
Profit
Shipping Cost
Order Priority

The following columns might not be relevant for the analysis:

- Row ID
- Order ID
- Customer ID

In [15]:
# Dropping unnecessary columns
database_cleaned = database.drop(['Row ID', 'Customer ID', 'Order ID'], axis = 1)
database_cleaned

,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Postal Code,Market,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,7/31/2012,7/31/2012,Same Day,Rick Hansen,Consumer,New York City,New York,United States,10024.0,US,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,2/5/2013,2/7/2013,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,NaN,APAC,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,10/17/2013,10/18/2013,First Class,Craig Reiter,Consumer,Brisbane,Queensland,Australia,NaN,APAC,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,1/28/2013,1/30/2013,First Class,Katherine Murray,Home Office,Berlin,Berlin,Germany,NaN,EU,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,11/5/2013,11/6/2013,Same Day,Rick Hansen,Consumer,Dakar,Dakar,Senegal,NaN,Africa,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,6/19/2014,6/19/2014,Same Day,Katrina Edelman,Corporate,Kure,Hiroshima,Japan,NaN,APAC,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.01,Medium
51286,6/20/2014,6/24/2014,Standard Class,Zuschuss Carroll,Consumer,Houston,Texas,United States,77095.0,US,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.01,Medium
51287,12/2/2013,12/2/2013,Same Day,Laurel Beltran,Home Office,Oxnard,California,United States,93030.0,US,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.01,High
51288,2/18/2012,2/22/2012,Standard Class,Ross Baird,Home Office,Valinhos,São Paulo,Brazil,NaN,LATAM,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.00,Medium
51289,5/22/2012,5/26/2012,Second Class,Mick Crebagga,Consumer,Tipitapa,Managua,Nicaragua,NaN,LATAM,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.00,High

In [28]:
database_cleaned.to_csv('Data/database_cleaned.csv')

### Initial findings:

##### - Sales indicated by Category and Sub-category
##### - International shipping
##### - Shipping priority
##### - It seems the company is based in the US with no overseas branches
##### - The database also reflects the profitability, wins and loses

------------------------------------------------------

## returns

In [25]:
returns = pd.read_csv("Data/globalsuperstore_returns.csv")
returns

     Returned         Order ID         Market
0         Yes   MX-2013-168137          LATAM
1         Yes   US-2011-165316          LATAM
2         Yes  ES-2013-1525878             EU
3         Yes   CA-2013-118311  United States
4         Yes  ES-2011-1276768             EU
...       ...              ...            ...
1168      Yes  ES-2013-2639112             EU
1169      Yes   CA-2014-134194  United States
1170      Yes  ES-2012-3246286             EU
1171      Yes  ES-2012-4379168             EU
1172      Yes   CA-2014-168193  United States

[1173 rows x 3 columns]

In [18]:
returns.describe()

       Returned        Order ID Market
count      1173            1173   1173
unique        1            1172      4
top         Yes  US-2014-136679  LATAM
freq       1173               2    297

In [19]:
returns_null = pd.isnull(returns)
returns_null

      Returned  Order ID  Market
0        False     False   False
1        False     False   False
2        False     False   False
3        False     False   False
4        False     False   False
...        ...       ...     ...
1168     False     False   False
1169     False     False   False
1170     False     False   False
1171     False     False   False
1172     False     False   False

[1173 rows x 3 columns]

---------------------------

## territory managers

In [26]:
people = pd.read_csv("Data/globalsuperstore_people.csv")
people

                  Person          Region
0          Anna Andreadi         Central
1            Chuck Magee           South
2         Kelly Williams            East
3         Matt Collister            West
4      Deborah Brumfield          Africa
5           Larry Hughes            AMEA
6          Nicole Hansen          Canada
7       Giulietta Dortch       Caribbean
8             Nora Preis    Central Asia
9            Jack Lebron           North
10       Shirley Daniels      North Asia
11        Anthony Jacobs         Oceania
12  Alejandro Ballentine  Southeast Asia

----------------------------------------------------------------------

# Merging dataframes