## Importing data from csv files, analyzing it and sending it to a database

In [1]:
import pandas as pd
import numpy as np

In [2]:
database = pd.read_csv("Data/globalsuperstore.csv")

## database

In [3]:
database.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2/5/2013,2/7/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11/5/2013,11/6/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [4]:
database.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [5]:
database_null = pd.isnull(database)
database_null

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51286,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51287,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51288,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51289,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
# Display just the headers
for col in database.columns:
    print(col)
    
    # two additional options to show just the headers
    # list(database.columns)
    # list(database.columns.values.tolist())

Row ID
Order ID
Order Date
Ship Date
Ship Mode
Customer ID
Customer Name
Segment
City
State
Country
Postal Code
Market
Region
Product ID
Category
Sub-Category
Product Name
Sales
Quantity
Discount
Profit
Shipping Cost
Order Priority

The following columns might not be relevant for the analysis:

- Row ID
- Order ID *
- Customer ID

In [7]:
# Dropping unnecessary columns
database_cleaned = database.drop(['Row ID', 'Customer ID', 'Order ID'], axis = 1)
database_cleaned = database.drop(['Row ID', 'Customer ID'], axis = 1)
database_cleaned

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Postal Code,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2012-124891,7/31/2012,7/31/2012,Same Day,Rick Hansen,Consumer,New York City,New York,United States,10024.0,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,IN-2013-77878,2/5/2013,2/7/2013,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,NaN,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,IN-2013-71249,10/17/2013,10/18/2013,First Class,Craig Reiter,Consumer,Brisbane,Queensland,Australia,NaN,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,ES-2013-1579342,1/28/2013,1/30/2013,First Class,Katherine Murray,Home Office,Berlin,Berlin,Germany,NaN,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,SG-2013-4320,11/5/2013,11/6/2013,Same Day,Rick Hansen,Consumer,Dakar,Dakar,Senegal,NaN,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,IN-2014-62366,6/19/2014,6/19/2014,Same Day,Katrina Edelman,Corporate,Kure,Hiroshima,Japan,NaN,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.01,Medium
51286,US-2014-102288,6/20/2014,6/24/2014,Standard Class,Zuschuss Carroll,Consumer,Houston,Texas,United States,77095.0,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.01,Medium
51287,US-2013-155768,12/2/2013,12/2/2013,Same Day,Laurel Beltran,Home Office,Oxnard,California,United States,93030.0,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.01,High
51288,MX-2012-140767,2/18/2012,2/22/2012,Standard Class,Ross Baird,Home Office,Valinhos,SÃ£o Paulo,Brazil,NaN,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.00,Medium
51289,MX-2012-134460,5/22/2012,5/26/2012,Second Class,Mick Crebagga,Consumer,Tipitapa,Managua,Nicaragua,NaN,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.00,High

### Initial findings:

##### - Sales indicated by Category and Sub-category
##### - International shipping
##### - Shipping priority
##### - It seems the company is based in the US with no overseas branches
##### - The database also reflects the profitability, wins and loses

------------------------------------------------------

## returns

In [8]:
returns = pd.read_csv("Data/globalsuperstore_returns.csv")
returns

     Returned         Order ID         Market
0         Yes   MX-2013-168137          LATAM
1         Yes   US-2011-165316          LATAM
2         Yes  ES-2013-1525878             EU
3         Yes   CA-2013-118311  United States
4         Yes  ES-2011-1276768             EU
...       ...              ...            ...
1168      Yes  ES-2013-2639112             EU
1169      Yes   CA-2014-134194  United States
1170      Yes  ES-2012-3246286             EU
1171      Yes  ES-2012-4379168             EU
1172      Yes   CA-2014-168193  United States

[1173 rows x 3 columns]

In [9]:
returns.describe()

       Returned        Order ID Market
count      1173            1173   1173
unique        1            1172      4
top         Yes  US-2014-136679  LATAM
freq       1173               2    297

In [10]:
returns_null = pd.isnull(returns)
returns_null

      Returned  Order ID  Market
0        False     False   False
1        False     False   False
2        False     False   False
3        False     False   False
4        False     False   False
...        ...       ...     ...
1168     False     False   False
1169     False     False   False
1170     False     False   False
1171     False     False   False
1172     False     False   False

[1173 rows x 3 columns]

---------------------------

## territory managers

In [11]:
territory_managers = pd.read_csv("Data/globalsuperstore_people.csv")
territory_managers

                  Person          Region
0          Anna Andreadi         Central
1            Chuck Magee           South
2         Kelly Williams            East
3         Matt Collister            West
4      Deborah Brumfield          Africa
5           Larry Hughes            AMEA
6          Nicole Hansen          Canada
7       Giulietta Dortch       Caribbean
8             Nora Preis    Central Asia
9            Jack Lebron           North
10       Shirley Daniels      North Asia
11        Anthony Jacobs         Oceania
12  Alejandro Ballentine  Southeast Asia

In [12]:
# Renaming the column Person to Territory Manager
territory_managers_df = territory_managers.rename(columns={"Person": "Territory Manager"})
territory_managers_df

       Territory Manager          Region
0          Anna Andreadi         Central
1            Chuck Magee           South
2         Kelly Williams            East
3         Matt Collister            West
4      Deborah Brumfield          Africa
5           Larry Hughes            AMEA
6          Nicole Hansen          Canada
7       Giulietta Dortch       Caribbean
8             Nora Preis    Central Asia
9            Jack Lebron           North
10       Shirley Daniels      North Asia
11        Anthony Jacobs         Oceania
12  Alejandro Ballentine  Southeast Asia

----------------------------------------------------------------------

# Merging dataframes

In [13]:
# merging the database_cleaned with the territory_managers_df
merged_sales_dataset = pd.merge(database_cleaned, territory_managers_df, on=['Region'])
merged_sales_dataset

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Postal Code,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Territory Manager
0,CA-2012-124891,7/31/2012,7/31/2012,Same Day,Rick Hansen,Consumer,New York City,New York,United States,10024.0,...,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical,Kelly Williams
1,CA-2011-160766,9/14/2011,9/14/2011,Same Day,Darrin Martin,Consumer,New York City,New York,United States,10009.0,...,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,2799.960,4,0.0,1371.9804,675.15,High,Kelly Williams
2,US-2012-163825,6/16/2012,6/19/2012,First Class,Lena Creighton,Consumer,New York City,New York,United States,10009.0,...,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,3050.376,3,0.2,1143.8910,632.05,High,Kelly Williams
3,CA-2012-114811,11/8/2012,11/8/2012,Same Day,Keith Dawkins,Corporate,New York City,New York,United States,10024.0,...,Technology,Machines,Zebra ZM400 Thermal Label Printer,4643.800,4,0.0,2229.0240,607.34,Medium,Kelly Williams
4,CA-2014-118892,8/18/2014,8/23/2014,Second Class,Tom Prescott,Consumer,Philadelphia,Pennsylvania,United States,19134.0,...,Furniture,Chairs,HON 5400 Series Task Chairs for Big and Tall,4416.174,9,0.3,-630.8820,566.65,Medium,Kelly Williams
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46256,CA-2014-1010,8/6/2014,8/8/2014,Second Class,Dorothy Wardle,Corporate,Richmond,British Columbia,Canada,NaN,...,Office Supplies,Binders,"Avery Binder, Recycled",26.520,2,0.0,12.1800,0.39,High,Nicole Hansen
46257,CA-2011-3390,9/21/2011,9/24/2011,Second Class,Alan Shonely,Consumer,Vaughan,Ontario,Canada,NaN,...,Office Supplies,Labels,"Smead Round Labels, Adjustable",4.800,1,0.0,1.4400,0.35,Medium,Nicole Hansen
46258,CA-2012-490,11/20/2012,11/26/2012,Standard Class,Janet Lee,Consumer,Laval,Quebec,Canada,NaN,...,Office Supplies,Fasteners,"Stockwell Paper Clips, Metal",12.930,1,0.0,0.3600,0.15,Medium,Nicole Hansen
46259,CA-2014-7630,9/17/2014,9/21/2014,Standard Class,Kean Takahito,Consumer,Mississauga,Ontario,Canada,NaN,...,Office Supplies,Binders,"Ibico Hole Reinforcements, Economy",6.990,1,0.0,3.4200,0.15,Medium,Nicole Hansen
46260,CA-2014-6810,12/23/2014,12/23/2014,Same Day,Vivian Mathis,Consumer,Winnipeg,Manitoba,Canada,NaN,...,Office Supplies,Binders,"Avery Index Tab, Durable",6.690,1,0.0,1.7100,0.04,Medium,Nicole Hansen

In [14]:
# merging the merged_sales_dataset with the returns
merged_returned_orders = pd.merge(merged_sales_dataset, returns, on=['Order ID'])
merged_returned_orders

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Postal Code,...,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Territory Manager,Returned,Market_y
0,CA-2011-160766,9/14/2011,9/14/2011,Same Day,Darrin Martin,Consumer,New York City,New York,United States,10009.0,...,Ativa V4110MDD Micro-Cut Shredder,2799.9600,4,0.00,1371.9804,675.15,High,Kelly Williams,Yes,United States
1,CA-2011-160766,9/14/2011,9/14/2011,Same Day,Darrin Martin,Consumer,New York City,New York,United States,10009.0,...,Honeywell Enviracaire Portable HEPA Air Cleane...,601.3000,2,0.00,198.4290,122.09,High,Kelly Williams,Yes,United States
2,CA-2011-160766,9/14/2011,9/14/2011,Same Day,Darrin Martin,Consumer,New York City,New York,United States,10009.0,...,KI Adjustable-Height Table,464.2920,9,0.40,-108.3348,115.24,High,Kelly Williams,Yes,United States
3,CA-2011-160766,9/14/2011,9/14/2011,Same Day,Darrin Martin,Consumer,New York City,New York,United States,10009.0,...,Vtech CS6719,287.9700,3,0.00,80.6316,55.83,High,Kelly Williams,Yes,United States
4,CA-2011-160766,9/14/2011,9/14/2011,Same Day,Darrin Martin,Consumer,New York City,New York,United States,10009.0,...,Staples,68.4600,7,0.00,31.4916,7.81,High,Kelly Williams,Yes,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3050,ID-2013-48709,8/2/2013,8/7/2013,Standard Class,Charles Sheldon,Corporate,Bekasi,Jawa Barat,Indonesia,NaN,...,"Ibico Index Tab, Clear",41.6826,6,0.17,-6.5574,3.03,Medium,Alejandro Ballentine,Yes,APAC
3051,ID-2013-60637,4/19/2013,4/23/2013,Standard Class,Bill Donatelli,Consumer,Las Pinas,National Capital,Philippines,NaN,...,"Eldon Shelving, Single Width",53.2950,2,0.45,-38.8050,3.15,Medium,Alejandro Ballentine,Yes,APAC
3052,IN-2011-56486,5/3/2011,5/9/2011,Standard Class,Janet Molinari,Corporate,Ho Chi Minh City,Ho ChÃ­ Minh City,Vietnam,NaN,...,"Nokia Office Telephone, with Caller ID",54.0579,1,0.17,4.5579,2.95,Medium,Alejandro Ballentine,Yes,APAC
3053,ID-2013-36312,11/18/2013,11/24/2013,Standard Class,Beth Paige,Consumer,Bangkok,Bangkok,Thailand,NaN,...,"Stockwell Thumb Tacks, Assorted Sizes",5.6127,1,0.47,-2.7573,0.57,Medium,Alejandro Ballentine,Yes,APAC
3054,ID-2013-74875,2/12/2013,2/19/2013,Standard Class,Christine Abelman,Corporate,Medan,Sumatera Utara,Indonesia,NaN,...,"SanDisk Message Books, Recycled",12.5769,1,0.47,-4.0431,0.25,Medium,Alejandro Ballentine,Yes,APAC

In [17]:
merged_returned_orders.describe()

,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,804.000000,3055.000000,3055.000000,3055.000000,3055.000000,3055.000000
mean,70234.339552,268.336622,3.857283,0.112710,38.624820,29.164282
std,31258.748071,523.339484,2.290164,0.176957,212.899687,58.382261
min,1852.000000,1.680000,1.000000,0.000000,-3701.892800,0.010000
25%,43229.000000,34.990000,2.000000,0.000000,1.420000,2.965000
50%,90006.000000,97.824000,3.000000,0.000000,12.712000,9.050000
75%,94109.000000,290.683000,5.000000,0.200000,42.690000,29.030000
max,99207.000000,13999.960000,14.000000,0.800000,6719.980800,923.630000

-----------------------------------------------------------------

### Exporting to CSV files for other apps

In [18]:
# To a CSV file
merged_sales_dataset.to_csv('Data/merged_sales_dataset.csv')
merged_returned_orders.to_csv('Data/merged_returned_orders.csv')